<div class="jumbotron center">
	<h1 style="color:#e74c3c">Welcome!</h1>
	<h2 style="color:#2980b9">Sign in and contribute cool animal pics!</h2>
	<br>
	<br>
	<p>
		<%=link_to "SIGN IN", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-success btn-lg" %>
	</p>
</div>



