<div class="jumbotron center">
	<h1>Welcome</h1>
	<p>
		<%=link_to "SIGN IN", new_user_session_path, class: "btn btn-default btn-lg" %>
		<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-success btn-lg" %>
	</p>
</div>



