<div class="jumbotron center">
		<h1>Welcome to Pinteresting</h1>
	<% if user_signed_in? %>
			You are now in the exclusive member-only area!
			<div style= "text-align: center">
					<iframe width="420" height="315" src="https://www.youtube.com/embed/aYnLTg3N3-I" frameborder="0" allowfullscreen  ></iframe>

			<div style= "text-align: center">
					<div style="color: black">
						<div style="font-size: 55px">
							<header>Some of my favorites</header>
						</div>
					</div>
					<iframe width="420" height="315" src="https://www.youtube.com/embed/tlxcNMltpU8" frameborder="0" allowfullscreen></iframe>
					<iframe width="420" height="315" src="https://www.youtube.com/embed/U_3eDWwDKfE" frameborder="0" allowfullscreen></iframe>
					<iframe width="420" height="315" src="https://www.youtube.com/embed/6s3GwMBk6Bg" frameborder="0" allowfullscreen></iframe>
					<iframe width="420" height="315" src="https://www.youtube.com/embed/Ry0UyqRUCFU" frameborder="0" allowfullscreen></iframe>	
			</div>	




	<% else %>	
		<p>
			<%=link_to "SIGN IN", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-success btn-lg" %>
		</p>
	<% end %>
</div>



