
<h1>Welcome to my app!</h1>
<p>Sign up <a href ="http://google.com">here</a>.</p>
<p>Sign up <%= link_to "here", "http://gamefaqs.com" %>.</p>
<h2>Hey SHAUN..I my thingermajig sux but i'm trying!</h2>
