<div class="jumbotron center">
		<h1>Welcome to Pinteresting</h1>
	<% if user_signed_in? %>
			You are now in the exclusive member-only area!
	<% else %>	
		<p>
			<%=link_to "SIGN IN", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-success btn-lg" %>
		</p>
	<% end %>
</div>

<div style= "text-align: center">
		<iframe width="420" height="315" src="https://www.youtube.com/embed/aYnLTg3N3-I" frameborder="0" allowfullscreen  ></iframe>	
</div>	


